<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Post list</title>
</head>
<body>
	<h1>병기 글 목록</h1>
	<ul>
		{% for post in posts %}
		<li>
			<span>{{ posts.create_date }}</span>
			<a href="javascript:;"><p>{{ post.title }}</p></a>
			<p>
				{{ post.contents|linebreaksbr }}
			</p>
		</li>
		{% endfor %}
	</ul>
		
	

<!-- 	
	
	<ul>
		<li>
			
		</li>
		<li>
			<span>published: 14.06.2014, 12:14</span>
			<a href="javascript:;"><p>title</p></a>
			<p>
				an eu leo quam. Pellentesque ornare sem lacinia quam venenat
			</p>
		</li>
		<li>
			<span>published: 14.06.2014, 12:14</span>
			<a href="javascript:;"><p>title</p></a>
			<p>
				an eu leo quam. Pellentesque ornare sem lacinia quam venenat
			</p>
		</li>
	</ul> -->
</body>
</html>